/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: aqua;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

button {
  padding: 10px;
  border-radius: 20px;
}

.hidden {
  display: none;
}

.lightUpSquares {
  height: 150px;
  width:150px;

}

.gameBoard {
  margin-top:10%;
  display:flex;
  justify-content: space-evenly;
}


#greenSquare {
  background-color: lightgreen;
}

#greenSquare:active, #greenSquare.lit{
  background-color: green;
}

#redSquare {
  background-color: red;
}

#redSquare:active, #redSquare.lit{
  background-color: darkred;
}

#yellowSquare {
  background-color: yellow;
}

#yellowSquare:active, #yellowSquare.lit {
  background-color: orange;
}

#magentaSquare {
  background-color: magenta;
}

#magentaSquare:active, #magentaSquare.lit {
  background-color: purple;
}

#blueSquare {
  background-color:blue;
}

#blueSquare:active, #blueSquare.lit {
  background-color:navy;
}